[Unit]
Description=Run GN3 REST API
After=network.target

[Service]
Restart=always
RestartSec=60s
ExecStart=/home/gn3/opt/racket/bin/racket rest-api/rest-api.rkt
Environment="PATH=/home/gn3/opt/racket/bin"
User=gn3
WorkingDirectory=/home/gn3/production/gn3

[Install]
WantedBy=multi-user.target


